
.jumbotron
{
	background:url(../img/11.jpg) top center fixed;
	background-size:cover;
	margin-top:10em
	padding-top:10em
	padding-button:10em
	
	
	
	
}

.jumbotron 
{
	font-size:3em;
	color:#FFF;
	text-allign:justify;
	
}